/* Slightly different container size for about us page */
.about-us-container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    /* 0 padding on either side when smaller screens - this makes sections background colours 100% width of page */
    @media (max-width: 600px) {
        padding: 0;
    }
  }

/* Unitee landscape as background image - add padding for the bottom */
.about-us{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    padding-bottom:10rem;
    /* On smaller screen make background image 200% of screen - this is because on smaller screen background image becomes very smal*/
    @media (max-width: 750px) {
        background-size:200%;
    }

}
.about-us-section{
    margin-bottom: 2rem;
}

/* Display flex */
.company-story{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Company story description and image split into two columns  */
.company-story__col1{
        padding: 10px;
        flex: 49%;
        margin-left: 2%;
        margin: auto;
}

.information__paragraph{
    line-height: 2;
}

.company-story__col2{
        padding: 10px;
        flex: 49%;
        margin:auto;
}

/* Image 100% of width - this makes it responsive no matter the screen size */
.company-story img{
    width:100%;
    margin:auto;
}

/* Turn two column layout into single column layout on smaller screen */
@media (max-width: 700px) {
    /* Change to single column layout on smaller screen */
    .company-story__col1, .company-story__col2 {
        flex: 100%;
        padding: 0 16px;
        
    }
    .information{
       padding: 0 1rem; }
}


.unitee-people  {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.unitee-people__description {
    padding:0 1rem;
    flex: 100%;
}

.unitee-people img {
   width: 100%;
}


/* Each Person description split into 3 columns - 33% */
.unitee-people__col1{
    flex: 33%;
    padding: 0.8rem;
    background-color:$lightOrange ;

}

.unitee-people__col2{
    flex: 33%;
    padding: 0.8rem;
    background-color:$lightOrange ;


}

.unitee-people__col3{
    flex: 33%;
    padding: 0.8rem;
    background-color:$lightOrange ;


}

@media (max-width: 600px) {
    /* Turn 3 columns into 1 at smaller screen size */
    .unitee-people__col1, .unitee-people__col2,.unitee-people__col3{
        flex: 100%;
    }
    .unitee-people img {
        /* Dont make image 100% so you can see more of the background image */
        width: 90%;
     }
     .unitee-people__description {
        background-color:$lightOrange;
        padding-top:1rem;
    }
}

.unitee-shirts  {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.unitee-shirts__description {
    flex: 100%;
}

.unitee-shirts img {
   width: 100%;
}


.unitee-shirts__col1{
    flex: 50%;
}

.unitee-shirts__col2{
    flex: 50%;
    padding:0.8rem;
    text-align: left;
    background-color:$lightOrange ;
    margin:auto;
}

@media (max-width: 750px) {
    .unitee-shirts__col2, .unitee-shirts__col1{
        flex:100%;
    }
    .unitee-shirts img {
        width: 80%;
     }

    .unitee-shirts__col2{
        margin:0 20px;
     }
}

.about-us__image{
    /* width:100%;
    margin-bottom: -2.1rem;
    position:fixed; */
}