
/* Cloud CSS3 animations */
#movingClouds{
	top:50%;
	position:absolute;
	/* How the cloud will behave - 30s duration, run infinitely */
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run;
	-webkit-animation-duration: 30s;
}  

/* The smaller the screen size - cloud size becomes smaller */
@media (max-width: 1000px) {
	.CloudsImage{
		transform:scale(0.8);
	}
}   

@media (max-width: 750px) {
	.CloudsImage{
		transform:scale(0.6);
	}
} 

@media (max-width: 500px) {
	.CloudsImage{
		transform:scale(0.45);
	}
} 

/* How #movingclouds will run. in the 30 seconds it will go from left -50% to left 100%. This means it will go from left to offscreen right in 30seconds. Because 0% is 
-50% left it means it will take a bit of time before the cloud is visible on the screen */
@-webkit-keyframes run {
		0% { left: -50%;}
		100%{ left : 100%;}
}

/* All other moving clouds - different cloud sizes, different cloud animations, differernt cloud positions, different cloud speeds */
#movingClouds2{
	top:25%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run2;
	-webkit-animation-duration: 50s;
}     
	
@-webkit-keyframes run2 {
		0% { left: -100%;}
		100%{ left : 100%;}
}

#movingClouds3{
	top:70%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run3;
	-webkit-animation-duration: 70s;
}     
	
@-webkit-keyframes run3 {
		0% { left: -50%;}
		100%{ left : 100%;}
}


#moving-clouds-about-us1{
	top:10%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run4;
	-webkit-animation-duration: 35s;
}

@-webkit-keyframes run4 {
	0% { left: -50%;}
	100%{ left : 100%;}
}

#moving-clouds-about-us2{
	top:30%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run5;
	-webkit-animation-duration: 55s;
}

@-webkit-keyframes run5 {
	0% { left: -60%;}
	100%{ left : 100%;}
}

#moving-clouds-about-us3{
	top:35%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run6;
	-webkit-animation-duration: 45s;
}

@-webkit-keyframes run6 {
	0% { left: -50%;}
	100%{ left : 100%;}
}

#moving-clouds-cart{
	top:25%;
	position:absolute;
	-webkit-animation:linear infinite ;
	-webkit-animation-name: run7;
	-webkit-animation-duration: 45s;
}

@-webkit-keyframes run7 {
	0% { left: -50%;}
	100%{ left : 100%;}
}
