* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.zooSection {
  position: relative;
 
	

}
#child{
  transform:scale(0.85);
}

@media (max-width:700px){
  #child{
    transform:scale(0.6);
    
  }
}

.zooPic {
  height: 1080px;
 

}

/* Polar Bear */

.polarBear {
  position: absolute;
  top: 35px;
  left: 155px;
  width: 220px;
  
}

/* Snow Leopard */

.snowStructure {
  position: absolute;
  z-index: 3;
  bottom: 65px;
  left: 10px;
  width: 565px;
}

.snowLeopard {
  position: absolute;
  bottom: 150px;
  left: 85px;
  width: 295px;
  z-index: 2;
}

/* Gorilla */

.gorilla {
  position: absolute;
  top: 215px;
  left: 410px;
  width: 220px;
}

/* Panda */

.panda {
  position: absolute;
  top: 20px;
  left: 810px;
  width: 190px;
}

/* Octopus */

.octopus {
  position: absolute;
  top: 422px;
  left: 950px;
  width: 260px;
}

/* Turtle */

.turtle {
  position: absolute;
  bottom: 160px;
  left: 805px;
  width: 175px;

}


/* Koala */

.koala {
  position: absolute;
  top: 20px;
  left: 1160px;
  width: 200px;
}



#LEFT-HAND {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: wave 1s linear infinite forwards alternate;
  animation: wave 1s linear infinite forwards alternate;
}

@-webkit-keyframes wave {
  0% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
  }

  100% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
  }
}

@keyframes wave {
  0% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
  }

  100% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
  }
}

/* Giraffe */

.girrafe-woodenboard {
  position: absolute;
  top: 783px;
  left: 1035px;
  width: 665px;
  z-index: 3;
}

.giraffe {
  position: absolute;
  top: 350px;
  left: 1390px;
  width: 280px;
  z-index: 2;
}

#HEAD-Giraffe {
  transform-box: fill-box;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation: headForward 1.5s linear infinite forwards alternate;
  animation: headForward 1.5s linear infinite forwards alternate;
}

@-webkit-keyframes headForward {
  0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
  }

  100% {
      -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
  }
}

@keyframes headForward {
  0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
  }

  100% {
      -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
  }
}

#NECK {
  transform-box: fill-box;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-animation: neckForward 1.5s linear infinite forwards alternate;
  animation: neckForward 1.5s linear infinite forwards alternate;
}

@-webkit-keyframes neckForward {
  0% {
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
  }

  100% {
      -webkit-transform: skewX(3deg);
      transform: skewX(3deg);
  }
}

@keyframes neckForward {
  0% {
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
  }

  100% {
      -webkit-transform: skewX(3deg);
      transform: skewX(3deg);
  }
}

#TAIL-Giraffe {
  transform-box: fill-box;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation: swingTailGiraffe 1.5s linear infinite forwards alternate;
  animation: swingTailGiraffe 1.5s linear infinite forwards alternate;
}

@-webkit-keyframes swingTailGiraffe {
  0% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
  }

  100% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
  }
}

@keyframes swingTailGiraffe {
  0% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
  }

  100% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
  }
}

/* Comelian */

.comelian {
  position: absolute;
  top: 357px;
  left: 2130px;
  width: 225px;
}

#left-eye-ball {
  -webkit-animation: blink .5s linear infinite forwards alternate;
  animation: blink .5s linear infinite forwards alternate;
}

#right-eye-ball {
  -webkit-animation: blink .5s linear infinite forwards alternate;
  animation: blink .5s linear infinite forwards alternate;
}

@-webkit-keyframes blink {

  0%,
  80% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  100% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes blink {

  0%,
  80% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  100% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

/* Kangaroo */

.kangaroo {
  position: absolute;
  top: 22px;
  left: 2703px;
  width: 160px;
}

/* Sloth */

.sloth {
  position: absolute;
  bottom: 530px;
  left: 2481px;
  width: 185px;
}

/* Frog */

.frog {
  position: absolute;
  bottom: 473px;
  left: 2930px;
  width: 215px;
}

/* Camel */

.camelBoard {
  position: absolute;
  bottom: 95px;
  left: 2693px;
  width: 562px;
  z-index: 3;
}

.camel {
  position: absolute;
  bottom: 127px;
  left: 2720px;
  width: 200px;
  z-index: 2;
}





/* Monkeys */

.monkeys {
  position: absolute;
  top: 58px;
  left: 3200px;
  width: 365px;
}

#MONKE-LEFT {
  transform-box: fill-box;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: swing 1.5s linear infinite forwards alternate;
  animation: swing 1.5s linear infinite forwards alternate;
}

@-webkit-keyframes swing {
  0% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
  }

  100% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
  }
}

@keyframes swing {
  0% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
  }

  100% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
  }
}

#MONKE-RIGHT {
  transform-box: fill-box;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: slide 1.5s linear infinite forwards alternate;
  animation: slide 1.5s linear infinite forwards alternate;
}


@-webkit-keyframes slide {
  0% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
  }

  100% {
      -webkit-transform: translateY(5%);
      transform: translateY(5%);
  }
}


@keyframes slide {
  0% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
  }

  100% {
      -webkit-transform: translateY(5%);
      transform: translateY(5%);
  }
}

/* Snake */

.snake {
  position: absolute;
  top: 510px;
  width: 200px;
  left: 3490px;
}
