/* Css for footer headlines */

.headline {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;

  &--small {
    font-size: 1.2rem;
    margin-bottom: 1.9rem;
    @mixin atSmall {
      font-size: 1.6875rem;
    }
  }

}