/* CSS for homescreen illustration */

   
  


#projectsvg {
  position: relative;
  width: 70%;
  /*  */
  margin: 0 auto;
  width: 100%;
  padding-bottom: 60%;

  /* Change SVG image size depending on screen size */
  @mixin atMedium {
        width: 95%;
        padding-bottom: 60%;
  }
  @mixin atLarge {
        width: 68%;
        padding-bottom: 44%;
  }
}

/* SVG positioning */
#projectsvg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  
}

/* On hover - make the boards change colour slightly  */
g:hover{
  opacity:1;
  
}
