/* Main navigation CSS */
.main-navigation {
  padding-top: 2px;

  ul {
    padding: 0;
    margin: 0;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @mixin atMedium {
    float: left;
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 100%;
  

  @mixin atMedium {
    display: inline-block;
    padding: 0;
  }
}

.main-navigation .current-menu-item a,
.main-navigation a:hover {
  color: #bababa;
}