/* .page-headers{
   

    &__privacy-policy{
        min-height:18rem;
        background-repeat:no-repeat;
        background-size:contain;
        background-position: 50% 80%; 
        @media  (min-width: 750px) {
            margin-bottom: 3rem;
        }


    }

    &__shop{
        height:17rem !important;
        background-repeat:no-repeat;
        background-size:contain;
        background-position: 50% 80%; 

        @media  (min-width: 750px) {
            margin-bottom: 3rem;
        }


    }
} */