/* Page backgrounds for Cart and login - giveing them a height of 150vh 1.5 x screen height */
.page-backgrounds__cart{
    background-size: cover;
    background-repeat: no-repeat;
    height:150vh;
 
 }

 .page-backgrounds__login{
    background-repeat: no-repeat;
   height:150vh;
 
 }