/* CSS for custom preloading screen. Contains animated bird with clouds moving from right to left - to emphasise that the bird is moving forward */
.page-wrapper{
    
}

.displayNone{
    display: none;
}
.preload-wrapper{
    margin:0;
    padding:0;
    box-sizing:border-box;
    display: none;
    z-index: 1000;
}

/* Make the preload 100% of screen size - give gradient background colour */
.preload{
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    background-image:linear-gradient(#ebaf97, #dcdd7f);
    z-index: 15;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

/* This class is assinged when web page loads and you want preloader to dissapear */
.preload-finish{
    opacity:0;
    pointer-events: none;  
}

/* CLoud CSS and animations */
.cloud1, 
.cloud2 ,
.cloud3{
    height:150px;
    position: absolute;
    right:0%;
    z-index:-1;
}

/* Cloud positionings and animations */
.cloud1{
    top:25%;
    transform: translate(100%, -25%);
    animation: clouds 10s ease infinite 5s;
}
.cloud2{
    top:60%;
    transform: translate(100%, -50%) ;
    animation: clouds 10s ease infinite 2s;
}

.cloud3{
    top:75%;
    transform: translate(100%, -75%) ;
    animation: clouds 10s ease infinite 1.5s;
}

/* Animation appears clunky if dont use alternate */
.bird{
    height: 300px;
    animation: birdmove 1.2s ease infinite alternate;
}

.preload h3{
    position: absolute;
    top:75%;
    transform:translateY(-75%);
    font-size: 35px;
}
/* Bird animation - goes up and down */
@keyframes birdmove{
    from {
        transform : translateY(0px);
    }
    to{
        transform: translateY(75px);
    }
}

@keyframes clouds{
    from {
       right:0%;
    }
    to{
        right:130%;
    }
}

