.privacy-policy{
   /* CSS for background image - z index-1 to appear under footer as have -50 margin */
      background-position: bottom;
      background-repeat: no-repeat;
      background-size:contain;
      padding-bottom:40rem;
      margin-bottom:-50px;
      z-index:-1;
      @media (max-width: 750px) {
          background-size:200%;
      }
   
      /* Privacy policy title */
&__title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    margin: 0 0 1rem 0;
    color: #FFF;
    color:black; 
    margin-bottom:2.5rem;
    text-align:center;

    @mixin atSmall {
      font-size: 5rem;
    }

}   
/* Privacy policy info split into table, headers and sections */
&__table{
        border-collapse: collapse;
        background-color: #f6d9c6;
        margin-bottom: 0;

        /* margin-bottom: 1.5rem;
        border:2px solid black; */

        thead{
            /* border-bottom: 0px !important;  */
            background-color:#d8b59e;
            font-weight:500;
        }

        td{
            /* border:2px solid black; */
            padding:10px;
            
        }

        th{
            font-weight:600;
            border:0px solid black;
            padding:10px;
            text-align: left;
        }
 }

 &__sections{
    background-color:#f6d9c6;
    padding:10px;
     margin-bottom: 0;
    /* border:2px solid black; */
    /* border-top:0px solid black; */
 }

 &__headers{
    background-color:#d8b59e;
    font-weight:900;
    font-size:1.1rem;
    padding:10px;

     margin-bottom:0; 
     margin-top: 0px;
     /*border:2px solid black; */
 }

 &__paragraphs{
    margin-bottom:3px;
    font-weight:500;
 }

}

