.search-overlay {
  /* Search overlay - appears when click on search icon - its meant to match the header but without page links */
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  background-repeat:repeat-x;

  /* padding: 20px 0 135px 0; */

  visibility: hidden;
  opacity: 0;
  padding-top:20px;
 
  background-size: auto 150px; 
  height:150px;

  @mixin atSmall {
    /* padding: 20px 0 130px 0; */
    background-size: auto 175px; 
    height:175px;
  }

  &__icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: black;
    @mixin atMedium {
      font-size: 1.7rem;
    }
  }

  /* Make search overlay visible when assigned this class - done by javascript */
  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  /* Close icon for search overlay */
  &__close {
    position: absolute;
    /* top: 10px; */
    top:12px;
    right: 16px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s;
    background-color: #FFF;
    color: black;
    line-height: .7;
    @mixin atSmall {
      font-size: 1.5rem;
    }
    @mixin atMedium {
     
      font-size: 1.7rem;
    }
  }

  &__close:hover {
    color: #999;
  }

}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
  border: 0;
  color:black;
  font-size: 25px;
  top:0;
  float:right;
}

@media (max-width:800px){
  .search-overlay-title{
    display: none;
  }

  .dgwt-wcas-search-wrapp {
    width: 90%;
    float:left;
    
  }
}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  float:right;
}

.dgwt-wcas-search-wrapp {
  max-width: 400px;
  float:right;
  margin-right:3rem;
}
