/* CSS for Unitee Logo */

.unitee-logo-text {
  position: relative;
  z-index: 20;
  margin: 0;
  font-size: 1.75rem;
  
  font-weight:600;
}

.unitee-logo-text strong {
  font-weight: 400;
}

.unitee-logo-text a {
  color:black;
  text-decoration: none;
}

.unitee-logo-text a:hover {
  color:#999;
  
}

.unitee-logo-text--alt-color a {
  color: #666;
}

/* Footer social media CSS */
.social-icons-list {
  display: flex;
  margin: 0 -8px;
}

.social-icons-list li {
  flex: 1;
  margin: 0 8px;
}

.social-icons-list li a {
  display: block;
  text-align: center;
  color: #FFF;
  font-size: 1.25rem;
}

.social-icons-list li a:hover {
  opacity: .75;
}

.social-color-facebook {background-color: #4862a3}
.social-color-twitter {background-color: #55acee}
.social-color-youtube {background-color: #cc1e1f}
.social-color-snapchat {background-color: #838226}
.social-color-instagram {background-color: #d8226b}

/* Navigation list CSS */
.nav-list ul {
  padding: 0;
  margin: 0;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  font-size: .9rem;
  color: #999;
  text-decoration: none;
}

.nav-list a:hover {
  color: $mainBlue;
  text-decoration: underline;
}



/* Make Top WP Admin Bar Fixed on Mobile */
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

