.site-footer {
  padding: 0 0 3.5rem 0;
  background-image: linear-gradient(#FFF, #ECECEC);
  

  p {
    font-size: .9rem;
  }

  a:hover{
    text-decoration: none;
  }

  .headline {
    color: #666;
    margin-bottom: .33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: black;
   
  }

  &__inner {
    border-top: 1px dotted #DEDEDE;
    padding-top: 3.5rem;
  }

  /* Footer Column CSS - Arranging how columns work on different screen sizes */
  &__col-one {
    text-align: center;
    @mixin atMedium {
      text-align: left;
      width: 33%;
      float: left;
    }
  }

  &__col-two-three-group {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    @mixin atMedium {
      text-align: left;
      float: left;
      width: 42%;
      margin: 0;
    }
  }

  &__col-two {
    width: 50%;
    float: left;
  }
  &__col-three {
    width: 50%;
    float: left;
  }
  &__col-four {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
    clear: both;
    text-align: center;
    @mixin atMedium {
      padding-top: 0;
      margin: 0;
      clear: none;
      text-align: left;
      width: 25%;
      float: right;
    }
  }
}