
.site-header {
  /* Site header - Using cloud illustration as background image */
  z-index: 3;
  /* Position fixed - at top of screen */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  background-repeat:repeat-x;

  padding-top:20px;

  /* padding: 20px 0 135px 0; */
  background-size: auto 150px; 
  height:150px;

  @mixin atSmall {
    /* padding: 20px 0 130px 0; */
    background-size: auto 175px; 
    height:175px;
  }

  &__menu {
    /* Header menu for smaller screen sizes - made visible with javascript when needed
    Translations to make it smoother */
    visibility: hidden;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: -20px;
    padding-top: 58px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity .9s ease-out, visibility .9s ease-out, transform .9s ease-out;
    padding-bottom: 20px;
    margin-right:1rem;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    @mixin atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: static;
      background-color: transparent;
      float: right;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }
  }

  /* Searh icon CSS for header */
  &__search-trigger {
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    position: absolute;
    top: 6px;
    right: 16px;
/* Change size of search icon on smaller screen */
    @mixin atSmall {
      top: 4px;
      font-size: 1.4rem;
    }
  }

  &__search-trigger:hover {
    color:#999;
  }

  /* Menu trigger icon - visible on smaller screens - desktops not visible */
  &__menu-trigger {
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 46px;

    @mixin atSmall {
      top: 5px;
      font-size: 1.4rem;
    }

    @mixin atMedium {
      display: none;
    }
  }
}
