/* All CSS custommisation of woocommerce here */

/* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious *//* Miscellanious */

/* Give all woocommerce text fields 2px black border */
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    border:2px solid black;
    font-weight:600;
}

/* Change woocommerce labels font weight and size */
.woocommerce label{
    font-weight:600;
    font-size: 1.2rem;
}
.country_to_state .country_select .select2-hidden-accessible{
    border:2px solid black;
    font-weight:600;
    
}
/* Woocommerce buttons */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #5379a7;
    color:white;
}


/* Give fieldsets margin of 10px */
.woocommerce fieldset{
    margin-bottom:10px;
}


/* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page *//* Cart Page */
.shop_table{
background-color: white;

}

/* Give cart form a black border  */
.woocommerce-cart-form{
    border:3px solid black;
    border-radius:10px
    
} 

.woocommerce table.shop_table {
    margin-bottom:0px;
}

/* Give cart form a black border  */
#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table{
    border:3px solid black;
    border-radius:10px
}

/* Give all woocommerce tables headers a background colour of light blue */
.woocommerce thead {
    background-color:  #e6eef6;
}

/* give every other table row a background colour of light blue */
.woocommerce tbody tr:nth-child(even){
    background-color:  #e6eef6;
}

/* Change cart layout two two column approach on desktops - Make payment options and order summary on right column 
Turn into one column layout on smaller screens*/
  @media (min-width: 767px) {

	.page-backgrounds__cart{

        .woocommerce .col2-set .col-1{width:100%;}
        .woocommerce .col2-set, .woocommerce-page .col2-set{width:48%;float:left;}
         #order_review_heading, .woocommerce #order_review, .woocommerce-page #order_review{float:left;width:49%;margin-left:2%;}
         #order_review_heading, .woocommerce #order_review, .woocommerce-page #order_review{float:left;width:49%;margin-left:2%;}
         .woocommerce-additional-fields{float:left;width:49%;margin-left:2%;} 
    }
}

/* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page *//* Checkout Page */

/* Apply black borders */
.shop_table .woocommerce-checkout-review-order-table{
    border:3px solid black;
}

/* Apply black borders */
.woocommerce-checkout-review-order{
    border:3px solid black;
    border-radius:10px;

    
}


/* Apply black borders and background colour - change 1 value for opacity levels*/
.woocommerce-billing-fields{
    background-color: RGBA(241,246,250,1);
    padding:10px;
    border:3px solid black;
    margin-bottom:13px;

}

/* Get rid of additional fields option */
.woocommerce-additional-fields{
    display:none;
}

/* Apply black borders and background colour - change 1 value for opacity levels*/
.woocommerce #order_review_heading{
    background-color: RGBA(241,246,250,1);
    border:3px solid black;
    padding:10px ;
    margin-top:0px;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
}

/* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  *//* Login  */

/* Css for login and register forms */
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    background-color:rgba(53, 96, 140, 1);
    /* background-color: #35608c; */
    border:3px solid white;
    margin-top:0px;
    color:white;
}

.woocommerce-form-login{
    text-align: center;
    margin: 0 auto;
    width:100%;
}

/* Make login and register forms 100% - using javascript to switch between the two forms with click of button */
.page-backgrounds__login{
    .woocommerce .col2-set .col-1 {width:100%;}
    .woocommerce .col2-set .col-2{width:100%;}
}

/* .woocommerce .owp-account-links {
    margin-bottom: 35px;
    text-align: center;
} */

/* This class applied to register form or login form using javascript */
.inactive{
    display:none;
    
}

/* Account links CSS design - press the link to take you to register form or login - done in javascript */
.account-links__login, .account-links__register{
    color:white;
    list-style: none;
    display:inline;
    font-weight:600;
    font-size: 4rem;
    padding: 0 0.5rem ;
}

.account-links__or{
    color:white;
    font-size: 1rem;
    font-size:2rem; 
    display:inline;
    border-radius: 50%;
    border: 1px solid white; 
    padding:12px; 
    margin:0px 5px;
}

/* Change font size and padding of account links on smaller screens */
@media (max-width: 767px){
    .account-links__login, .account-links__register{
        font-size: 2.7rem;
        padding: 0 0.5rem ;
    }

    .account-links__or{
        font-size:1.5rem; 

    }
   
}

/* Add right border to account links when hovered over */
.account-links__login:hover, .account-links__register:hover{
    border-left: 4px solid white;
}

/* Account links general CSS */
.account-links {
    margin: 0 auto;
    text-align: center;
    padding:0 0  2rem 0;

}

/* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard *//* Account Dashboard */

/* Dont display woocommerce headers in account dashboard page */
.page-backgrounds__login h2{
    display:none;
}

/* Dont display woocommerce headers in account dashboard page */
.page-backgrounds__login h3{
    display:none;
}
/* Menu */
.woocommerce-MyAccount-navigation ul{
    list-style: none;
    padding-left:0px;

}

.woocommerce-MyAccount-navigation li{
    padding: 8px 5px;
    border-top: 1px solid white;

} 

/* Account dashboard list change background colour on hover */
.woocommerce-MyAccount-navigation li:hover{
    background-color: #84a1d2;


} 
/* Account dashboard links CSS */
.woocommerce-MyAccount-navigation a{
    text-decoration: none ;
    color: white;
    font-weight: 700 ;
    font-size:20px;


}



/* Account dashboard */
.woocommerce-account .woocommerce-MyAccount-content{
    color:white;
    font-weight:600;
    font-size:20px;

}

.woocommerce-account .woocommerce-MyAccount-content a{
    color:white;
    font-weight:600;
}
.woocommerce-MyAccount-navigation a:hover{
    font-weight: 900 ;
    background-color: #84a1d2;

}

/* Account Detials */
/* Account details and address details light background colour with black font */
.woocommerce-EditAccountForm {
    background-color: rgba(230,238,246, 0.95);
    
    color:black;
    padding:10px;
    margin-bottom: 1rem;
}

.woocommerce-address-fields{
    background-color: rgba(230,238,246, 0.95);
    color:black;
    padding:10px;
    margin-bottom: 1rem;

}

/* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store *//* Woocommerce store */

/* Dont display Woocommerce store title */
.woocommerce-page .page-title { display: none; }

/* Change design of how product items are displayed- change widths, background, margins, background, border of products */
/* Two products per line on smaller desktops */
@media only screen and  (max-width: 750px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        background-color: $lightOrange;
        margin-right:1% !important;
        /* border:3px solid black; */
        border:2px solid black;
        background-color: $lightOrange;
        width:49% !important;
        margin-right:0px;
        padding:0.8rem;

    }
}

/* Change to 4 products per line on wider desktops */
@media only screen and  (min-width: 751px) {
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width:24.5% !important;
     margin-right:0.5%;
     border:2px solid black;
     background-color: $lightOrange;
     padding:1rem;
     
    }
}
/*  CSS design for category filter  */
/* on smaller screens make its width 100% */
@media only screen and  (max-width: 600px) {
    .wpf_layout_horizontal .wpf_item{
        width:100% !important;
    }
   
}

/* On larger screen sizes make category filter 30%. need !imporant to override pre exisiting CSS */
/* CSS designing category filter to match Unitee website style */
.wpf_layout_horizontal .wpf_item {
    width:30%;
    float:right;
    border-radius:0px !important;
    border:1px solid black !important;
    background-color: $lightOrange !important;
    margin-right:0.5% !important;
    
}
.wpf_layout_horizontal .wpf_item_name {
    padding: 0.2rem !important;
    font-weight: 600 !important;
    padding:5px 10px !important;
}

.wpf_column_vertical{
    background-color: $lightOrange !important;
}
.wpf_layout_horizontal .wpf_items_group {
    background-color: $lightOrange !important;
}


.woocommerce .woocommerce-ordering{
    float:right;
    width:30%;
    display:none;

}

/* Design for product buttons to take user to single product page */
.woocommerce ul.products li.product .button {
    background-color: #e9b295;
    color:black;
}

/* Design for product button hover */
.woocommerce ul.products li.product .button:hover {
    background-color: #c0b2ab;
    color:black;
}

/* Product price CSS */
.woocommerce ul.products li.product .price {
    color:black;
    font-weight: 600;
}

/* Removeing amount of products retrieved  */
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    display: none;
    position:fixed;
}

/* Css for woocommerce page numbers */
.woocommerce .page-numbers{
    background-color: $lightOrange;
}

/* Back button for single product page */
/* Not visible on shop page */
/* Designed to match Unitee Style */

.alg_back_button_input{
    box-sizing: border-box ;
    display: none;
    background-color: $lightOrange;
    border: 0;
    font-weight:600;
    font-size: 1.2rem;
    margin-left: 3%;
    padding:4px 10px;
    margin-bottom:0.5rem;
    
}

/* Make back button visible on single product page */
.single-product {
    .alg_back_button_input {
        display: inline;
    }
}

/* back button css design */
.alg_back_button_input:hover{
   background-color: #e9cba0;
}

/* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page *//* Woocommerce single products page */

/* Make category filter dissapear on single product page */
.single-product {
    .wpf_layout_horizontal .wpf_item{
        display:none;
    }
}

/* Add background colour to product description  */
#content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summar{
    background-color:$lightOrange;
    padding:15px;
}

/* Add background colour to product reviews  */
.woocommerce .woocommerce-Reviews{
    background-color:$lightOrange;
    padding:15px;
}

.woocommerce div.product .woocommerce-tabs .panel{
    background-color:$lightOrange;
    padding:15px;
}

/* change colour of active tab */
.reviews_tab active{
    background-color:$lightOrange;
}

/* Remove SKU information */
.sku_wrapper{
    display:none;
}

.posted_in{
    margin-top: 1rem;
}

/* CSS for comment form */
.woocommerce #commentform {margin-top:0.5rem;}

/* Css for product price */
.woocommerce div.product p.price{
    color:black;
    font-weight:500;
}

.cart_totals h2{
    margin: 1rem 0;
}
