/* SASS mixims */
@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1300px) {
    @mixin-content;
  }
}

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  background-image:linear-gradient(#ebaf97, #dcdd7f);
  overflow-x:hidden;
 
}

/* Needed for about us flex box */
*{
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

p, ul, ol {
  margin: 0 0 1.65em 0;
}

li {
  line-height: 1.65;
}

p{
  line-height: 1.65;
  
}