/* Generic container to include all page contents */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

/* Padding top - needed as header has position fixed so content would appear behind. Padding top decreases when header size decreases - at 530px or below */
.padding-top{
  padding-top:170px;

  @mixin atSmall {
    padding-top:200px;
  }
}

/* Used for social media icons positioning */
.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 2.5rem 0;
}

/* Navigation menus */
.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

@mixin atSmall {
  .p-top-large {padding-top: 3.5rem}
  .p-bottom-large {padding-bottom: 3.5rem}
}



.t-left {text-align: left}
.t-right {text-align: right}
.t-center {text-align: center} 


.t-small {font-size: .85rem}

.float-left {float: left}
.float-right {float: right}


.container:before,
.container:after,
.group:before,
.group:after {
  content: " ";
  display: table;
}

.container:after,
.group:after {
  clear: both;
}

.hide {
  display: none;
}